@font-face {
    font-family: Montserrat;
    src: url(fonts/Montserrat/Montserrat-Medium.ttf)
}

article {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.9em;
    background-color: ghostwhite;
    padding: 1em;
}

section {
    padding: 1em;
}

#lateral {
    background-color: #BEC6CE;
}

h1, h2 {
    font-family: Montserrat;
    font-variant: small-caps;
    color: Sienna;
}

h2 {
    border-bottom: 1px solid Sienna;
}

.cloud {
    list-style: none;
    padding-left: 0px;
}

#perso > ul {
    list-style-type: none;
    padding-left: 0em;
}

#perso > ul > li {
    margin-top: 0.5em;
}

#formacion > ul {
    list-style-type: "- ";
    padding-left: 1em;
}

#formacion > ul > li {
    margin-top: 0.5em;
}

a[href] {
    color: steelblue;
}

.icono {
    height: 1.5em;
    margin-right: 0.4em;
    vertical-align:bottom;
}

/*NUBE DE TAGS*/
ul.cloud {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    line-height: 2.5rem;
    font-variant: small-caps;
    font-weight: 600;
}

/*Tamaños y colores en función del data-weight*/
ul.cloud a[data-weight="1"] {
    --size: 1;
    color:red;
}
ul.cloud a[data-weight="2"] {
    --size: 2;
    color:red;
}
ul.cloud a[data-weight="3"] {
    --size: 3;
    color:tomato;
}
ul.cloud a[data-weight="4"] {
    --size: 4;
    color:darkorange;
}
ul.cloud a[data-weight="5"] {
    --size: 5;
    color: OliveDrab;
}
ul.cloud a[data-weight="6"] {
    --size: 6;
    color:darkgreen;
}
ul.cloud a[data-weight="7"] {
    --size: 7;
    color: steelblue;
}
ul.cloud a[data-weight="8"] {
    --size: 8;
    color: darkslateblue;
}
ul.cloud a[data-weight="9"] {
    --size: 9;
    color: darkslateblue;
}
ul.cloud a[data-weight="9"] {
    --size: 10;
    color: darkslateblue;
}

ul.cloud a {
    display: block;
    font-size: 1.5rem;
    padding: 0.125rem 0.25rem;
    text-decoration: none;
    position: relative;
    /*Fórmula para el cálculo de tamaños*/
    --size:4;
    font-size: calc(var(--size) * 0.25rem);
}

/*DISPOSITIVOS*/
/*Vertical, tablets y móviles*/
@media (orientation: portrait) {
    article {
        display: flex;
        flex-direction: column;
    }
}

/*Horizontal, iPad*/
@media (max-width: 1365px) and (orientation: landscape) {
    article {
        display: flex;
        flex-direction: column;
    }
}

/*Horizontal, escritorio*/
@media (min-width: 1366px) and (orientation: landscape){
    /*grid container*/
    article {
        width: 50%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 30% 70%;
    }

    /*grid items*/
    #contNombre {
        grid-column: 1 / span 2;
    }

    #lateral {
        grid-column: 1;
        grid-row: 2;
    }

    #principal {
        grid-column: 2;
        grid-row: 2;
    }
}
/*
TO-DO
- Resolución iPad
- Afinar portrait
- Compartir y descargar en .pdf
*/